{% import "toolkit/summary-table.html" as summary %}
{% if brief.status != 'draft' %}
<h2 class="visuallyhidden">Important dates</h2>
<dl>
  <dt>Published</dt>
  <dd>{{ brief.publishedAt|dateformat }}</dd>
  <dt>Deadline for asking questions</dt>
  <dd>{{ brief.clarificationQuestionsClosedAt|datetimeformat if brief.clarificationQuestionsClosedAt is defined }}</dd>
  <dt>Closing date for applications</dt>
  <dd>{{ brief.applicationsClosedAt|datetimeformat if brief.applicationsClosedAt is defined }}</dd>
</dl>
{% endif %}
{% for section in content.summary(brief) %}
    {{ summary.heading(section.name, id="opportunity-attributes-{}".format(loop.index)) }}
     {% if section.summary_page_description %}
          {{ summary.description(section.summary_page_description) }}
        {% endif %}
    <dl>
      {% for item in section.questions %}
        <dt>{{ summary.field_name(item.label) }}</dt>
        <dd>{{ summary[item.type](item.value) | format_links}}</dd>
      {% endfor %}
    </dl>
{% endfor %}
